body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.index-logo{
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: auto;
}
.fas{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}
.dislike{
  background-image: url("img/dislike.png");
  background-size: 40px;
}
.hide{
  display: none;
}
.show{
  display: block;
}